@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: only light;
}

html {
  font-size: 16px;
}

body,
html,
#__next {
  height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

*:not(input) {
  user-select: none;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;

  padding-right: 0.5rem;
}
.scrollable::-webkit-scrollbar {
  width: 4px;
}
.scrollable::-webkit-scrollbar-track {
  background: transparent;
}
.scrollable::-webkit-scrollbar-thumb {
  background: theme("colors.gray.200");
  border-radius: 8px;
}
.scrollable::-webkit-scrollbar-thumb:hover {
  background: theme("colors.gray.200");
}

@supports (-moz-appearance: none) {
  .scrollable {
    scrollbar-width: none;
    padding-right: 0;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}
