# All node_modules directories
**/node_modules

# All secrets
**/.env
**/.env.example
**/.env.development

# By default all git files
.git
**/.gitignore

# Stuff
**/README.md
LICENSE
**/out
**/.turbo

# Docker related
.dockerignore
deploy

# IDE related
**/.idea
**/.vscode

# App related
**/test
**/dist
**/coverage
**/.nyc_output

# NextJS related
**/.next
