.flipable-container {
  perspective: 500px;
  background-color: transparent;
}

.flipable-card {
  position: relative;
  transform-style: preserve-3d;
}

.back,
.front {
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg) translateZ(1px);
}
