<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" href="/icons/apple-touch.png" />
    <link rel="icon" sizes="any" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/icons/icon.svg" />
    <meta name="theme-color" content="#2A2A2A" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta
      name="description"
      content="Онлайн версия популярной настольной игры «500 злобных карт»! Сыграй с друзьями или найди здесь новых."
    />
    <meta
      property="og:description"
      content="Онлайн версия популярной настольной игры «500 злобных карт»! Сыграй с друзьями или найди здесь новых."
    />
    <meta property="og:url" content="https://evilcards.online" />
    <meta property="og:site_name" content="500 ЗЛОБНЫХ Карт Онлайн" />
    <meta property="og:title" content="500 ЗЛОБНЫХ Карт Онлайн" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://evilcards.online/icons/og-preview.png"
    />

    <% if (VITE_WITH_ANALYTICS == "true") { %>
    <script
      defer
      data-api="/api/event"
      data-domain="evilcards.online"
      src="https://analytics.evilcards.online/js/script.js"
    ></script>
    <% } %>

    <script src="https://yandex.ru/ads/system/context.js" async></script>

    <title>500 ЗЛОБНЫХ Карт Онлайн</title>
  </head>
  <body class="bg-gray-900">
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
