@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-open {
  animation: fade cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  animation-direction: reverse;
}

.fade-close {
  animation: fade cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}
