services:
  keydb:
    image: eqalpha/keydb:x86_64_v6.3.3
    volumes:
      - ../keydb/keydb.conf:/usr/local/etc/keydb/keydb.conf
    command: keydb-server /usr/local/etc/keydb/keydb.conf
    restart: always
    healthcheck:
      test: [ "CMD", "keydb-cli", "ping" ]
      interval: 5s
      timeout: 10s
      retries: 3
      start_period: 0s

  server:
    restart: always
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "-nv",
          "-t1",
          "--spider",
          "http://localhost:8000/health"
        ]
      interval: 5s
      timeout: 10s
      retries: 3
      start_period: 0s
    env_file:
      - ../envs/server.env

  load-balancer:
    restart: always
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "-nv",
          "-t=1",
          "--spider",
          "http://localhost:1337/health"
        ]
      interval: 5s
      timeout: 10s
      retries: 3
      start_period: 0s
    env_file:
      - ../envs/load-balancer.env

  client:
    restart: always

  nginx:
    image: nginx:1.23
    volumes:
      - /etc/ssl:/etc/ssl:ro
    ports:
      - 80:80
      - 443:443
    restart: always
