name: evil-cards-prod

services:
  mail:
    image: bytemark/smtp
    restart: always

  postgres:
    image: postgres:14-alpine
    restart: always
    volumes:
      - db-data:/var/lib/postgresql/data
    env_file:
      - ../envs/postgres.env

  clickhouse:
    image: clickhouse/clickhouse-server:22.6-alpine
    restart: always
    volumes:
      - event-data:/var/lib/clickhouse
      - ../clickhouse/clickhouse-config.xml:/etc/clickhouse-server/config.d/logging.xml:ro
      - ../clickhouse/clickhouse-user-config.xml:/etc/clickhouse-server/users.d/logging.xml:ro
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

  plausible:
    image: plausible/analytics:v1
    restart: always
    command: sh -c "sleep 10 && /entrypoint.sh db createdb && /entrypoint.sh db migrate && /entrypoint.sh db init-admin && /entrypoint.sh run"
    depends_on:
      - postgres
      - clickhouse
      - mail
    env_file:
      - ../envs/plausible.env

  keydb:
    extends:
      file: common.yml
      service: keydb

  loki:
    image: grafana/loki:2.8.0
    command: -config.file=/etc/loki/config.yaml
    volumes:
      - loki-data:/loki
      - ../loki/config.yaml:/etc/loki/config.yaml
    restart: always

  server:
    extends:
      file: common.yml
      service: server
    image: ghcr.io/adjsky/evil-cards/server-prod:${GITHUB_BRANCH:-master}
    deploy:
      replicas: 2
    depends_on:
      - keydb
      - loki
    labels:
      - prometheus-job=server

  load-balancer:
    extends:
      file: common.yml
      service: load-balancer
    image: ghcr.io/adjsky/evil-cards/load-balancer-prod:${GITHUB_BRANCH:-master}
    depends_on:
      - keydb
      - server
      - loki
    labels:
      - prometheus-job=load-balancer

  prometheus:
    image: prom/prometheus:v2.44.0
    restart: always
    command: --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - prometheus-data:/prometheus
      - ../prometheus/config.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - server
      - load-balancer

  grafana:
    image: grafana/grafana-enterprise:9.5.3
    restart: always
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
      - loki

  client:
    extends:
      file: common.yml
      service: client
    image: ghcr.io/adjsky/evil-cards/client-prod:${GITHUB_BRANCH:-master}
    depends_on:
      - plausible

  nginx:
    extends:
      file: common.yml
      service: nginx
    volumes:
      - ../nginx/default.prod.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - plausible
      - client
      - server
      - load-balancer

volumes:
  db-data:
    driver: local
  event-data:
    driver: local
  grafana-data:
    driver: local
  loki-data:
    driver: local
  prometheus-data:
    driver: local
