services:
  redis:
    extends:
      file: common.yml
      service: redis

  server:
    extends:
      file: common.yml
      service: server
    image: ghcr.io/evil-cards/server-stage:${GITHUB_BRANCH:-master}
    depends_on:
      - redis

  client:
    extends:
      file: common.yml
      service: client
    image: ghcr.io/evil-cards/client-stage:${GITHUB_BRANCH:-master}

  nginx:
    extends:
      file: common.yml
      service: nginx
    volumes:
      - ../nginx/default.stage.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - client
      - server
