.board {
  width: 100%;
  height: 398px;
}

.red-card {
  width: 180px;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  aspect-ratio: 174 / 241;
}

@media (max-width: 639px) {
  .board {
    height: 455px;
    width: 400px;
  }

  .red-card {
    width: 115px;
    padding: 0.75rem;
    border-radius: 0.375rem;
  }

  .voted-card {
    --card-width: 80px;
    --cards-gap: 4px;

    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: var(--card-width);
  }

  .card-1 {
    top: calc(50% - var(--card-width) * 2);
    left: calc(50% - var(--card-width) / 2 - var(--cards-gap));
  }

  .card-2 {
    top: calc(50% - var(--card-width) * 2);
    left: calc(50% + var(--card-width) / 2 + var(--cards-gap));
  }

  .card-3 {
    top: calc(50% - var(--card-width) * 1.5 - var(--cards-gap) * 2);
    left: calc(50% + var(--card-width) * 1.5 + var(--cards-gap) * 3);
  }

  .card-4 {
    top: calc(50%);
    left: calc(50% + var(--card-width) * 1.5 + var(--cards-gap) * 6);
  }

  .card-5 {
    top: calc(50% + var(--card-width) * 1.5 + var(--cards-gap) * 2);
    left: calc(50% + var(--card-width) * 1.5 + var(--cards-gap) * 3);
  }

  .card-6 {
    top: calc(50% + var(--card-width) * 2);
    left: calc(50% - var(--card-width) / 2 - var(--cards-gap));
  }

  .card-7 {
    top: calc(50% + var(--card-width) * 2);
    left: calc(50% + var(--card-width) / 2 + var(--cards-gap));
  }

  .card-8 {
    top: calc(50% + var(--card-width) * 1.5 + var(--cards-gap) * 2);
    left: calc(50% - var(--card-width) * 1.5 - var(--cards-gap) * 3);
  }

  .card-9 {
    top: calc(50%);
    left: calc(50% - var(--card-width) * 1.5 - var(--cards-gap) * 6);
  }

  .card-10 {
    top: calc(50% - var(--card-width) * 1.5 - var(--cards-gap) * 2);
    left: calc(50% - var(--card-width) * 1.5 - var(--cards-gap) * 3);
  }
}
