name: Branch pull request workflow

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test everything

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Install deps
        run: pnpm --frozen-lockfile install

      - name: Run tests
        run: pnpm lerna run test --parallel

  lint-changed-files:
    runs-on: ubuntu-latest
    name: Lint changed files

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Install deps
        run: pnpm --frozen-lockfile install

      - name: Run eslint on changed files
        uses: tj-actions/eslint-changed-files@v14
        with:
          extra_args: "--max-warnings=0"
          ignore_path: "packages/eslint-config-monorepo/**/*"
          file_extensions: |
            **/*.ts
            **/*.tsx
            **/*.js
            **/*.mjs
            **/*.cjs
